body {
  font-size: 18px;
  text-align: left;
  font-family: 'Libre Baskerville', serif;
}

header {
  height: 20vh;
  background-color: #5700B5;
  color: white;
}

h1 {
  /*clear: both;*/
  font-size: 2.5rem;
  text-align: center;
  padding: 0 0 3vh 0;
}

h2 {
  font-size: 1.75rem;
  text-align: center;
}

nav {
  height: 10vh;
  background-color: #5700B5;
  color: white;
  /*position: fixed;*/
  z-index: 999;
}

.navigation {
  /*height: 3vh;*/
  display: inline-block;
  padding-left: 3vw;
  padding-top: 3.5vh;
}

nav a {
  height: 3vh;
  color: #FFF;
  text-decoration: none;
  padding: 2vw;
}

/*.social a {
  float: right;
}*/

.social img {
  height: 4vw;
  margin-top: -4.5vh;
  padding-right: 4vw;
  float: right;
  display: inline-block;
}

.content {
  padding: 7vh 5vw;
  font-weight: lighter;
  line-height: 1.5;
}

footer {
  clear: both;
  height: 10vh;
  text-align: center;
}

footer p {
  font-size: .75rem;
  font-weight: lighter;
}
