body {
  font-size: 18px;
  text-align: left;
  font-family: 'Libre Baskerville', serif;
}

header {
  display: inline-block;
  width: 100vw;
  height: 10vw;
  background-color: #5700B5;
  color: white;
  z-index: 2000;
  margin: -4vw 0;

}

h1 {
  /*clear: both;*/
  font-size: 2.5rem;
  text-align: center;
  padding: 0 0 3vw 0;
}

h2 {
  font-size: 1.75rem;
  text-align: center;
}

nav {
  height: 5vw;
  color: white;
  /*position: fixed;*/
}

.navigation {
  position: fixed;
  width: 30vw;
  float: left;
  background-color: #5700B5;
  z-index: 1000;
  padding: 1.5vw;
  height: 2vw;
}

.navigation a {
  padding: 2vw;
  height: 2vw;
  color: #FFF;
  text-decoration: none;
}

.blank-space {
  position: fixed;
  left: 30vw;
  width: 40vw;
  height: 5vw;
  background-color: #5700B5;
  z-index: -1;
}

.social {
  position: fixed;
  left: 70vw;
  width: 30vw;
  height: 5vw;
  background-color: #5700B5;
  z-index: 1000;
}

.social img {
  height: 4vw;
  margin-top: .5vw;
  padding-right: 4vw;
  float: right;
  background-color: #5700B5;

}

.content {
  padding: 7vw 5vw;
  font-weight: lighter;
  line-height: 1.5;
  z-index: -2;
}

footer {
  clear: both;
  height: 10vw;
  text-align: center;
}

footer p {
  font-size: .75rem;
  font-weight: lighter;
}
