body {
  font-size: 18px;
  text-align: left;
  font-family: 'Libre Baskerville', serif;
}

header {
  height: 45vh;
  margin: 20vh 0 25vh;
  background-color: #5700B5;
  color: white;
}

h1 {
  font-size: 3rem;
  text-align: center;
  padding: 6vh 0 2vh 0;
}

h2 {
  font-size: 2.25rem;
  text-align: center;
}

/*.pages li {
  display: inline-block;
}*/

nav a {
  color: #FFF;
}

/*.social img {
  height: 4.5vw;
  padding: 0vw 3.5vw 0;
  float: right;
  display: inline-block;
}*/
