body {
  font-size: 18px;
  text-align: left;
  font-family: 'Libre Baskerville', serif;
}

header {
  height: 30vh;
  margin: 25vh 0 45vh;
  background-color: #5700B5;
  color: white;
}


/*below saved for other html pages*/
/*header {
  height: 30vh;
  background-color: #5700B5;
  color: white;
}*/

h1 {
  font-size: 5rem;
  text-align: center;
  padding: 6vh 0 2vh 0;
}

h2 {
  font-size: 3rem;
  text-align: center;
}

.pages li {
  display: inline-block;
}

nav a {
  color: #FFF;
  /*display: inline-block;*/
  /*padding: 1.25vw;*/
}

.social img {
  height: 4.5vw;
  padding: 0vw 3.5vw 0;
  float: right;
  display: inline-block;
}
