.content img {
  height: 25vw;
  width: 25vw;
  border-radius: 50%;
  display: inline-block;
}

.content p {
  text-align: center;
}

.project-titles {
  text-align: center;
  padding-top: 8vw;
  margin-bottom: -2vw;
}

.project-titles a {
  text-decoration: none;
  font-size: 2.5rem;
}
